body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main > * {
    margin: 0;
}

@media (width < 700px) {
    #main {
        display: flex;
        flex-direction: column;
    }

    #main > * {
        width: 90%;
        height: 60vh;
    }
}

@media (width >= 700px) {
    #main {
        display: flex;
        justify-content: space-between;
    }

    #main > * {
        width: 45%;
        height: 70vh;
    }
}

textarea {
    resize: none;
}
